<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/default.min.css">
		<link rel="stylesheet" href="css/all.css">
		<link rel="stylesheet" href="css/menu.css">
		
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/highlight.js"></script>
    	<script type="text/javascript" src="js/highlight.pack.js"></script>
    	<script type="text/javascript" src="js/menu.js"></script>

    	<style type="text/css">
			#nav-container {
				position: fixed;
			}

			#content-container {
				
			}
    	</style>
	</head>
	<body>
		<script>hljs.initHighlightingOnLoad();</script>
		<div id="nav-container">
			<div id='cssmenu'>
				<ul>
				   <li><a href='#'><span>Home</span></a></li>
				   <li class='active has-sub'><a href='#'><span>Products</span></a>
				      <ul>
				         <li class='has-sub'><a href='#'><span>Product 1</span></a>
				            <ul>
				               <li><a href='#'><span>Sub Product</span></a></li>
				               <li class='last'><a href='#'><span>Sub Product</span></a></li>
				            </ul>
				         </li>
				         <li class='has-sub'><a href='#'><span>Product 2</span></a>
				            <ul>
				               <li><a href='#'><span>Sub Product</span></a></li>
				               <li class='last'><a href='#'><span>Sub Product</span></a></li>
				            </ul>
				         </li>
				      </ul>
				   </li>
				   <li><a href='#'><span>About</span></a></li>
				   <li class='last'><a href='#'><span>Contact</span></a></li>
				</ul>
			</div>
		</div>
		
		<div id="content-container">
			<%- htmlData %>
		</div>
		
		<script type="text/javascript">
			$(document).ready(function(){
				var $navContainer = $("#nav-container");
				var $contentContainer = $("#content-container");
				var $cssMenu = $("#cssmenu");

				initMenu();

				$navContainer.width($cssMenu.width());
				$contentContainer.width($(window).width() - $navContainer.width() - 100);
				$contentContainer.css('margin-left', $navContainer.width() + 10);
			});
		</script>
	</body>
</html>
